/* Error: Undefined variable.
 *     ,
 * 195 |   font-family: map-get($rolex-fonts, mono);
 *     |                        ^^^^^^^^^^^^
 *     '
 *   assets/scss/base/_reset.scss 195:24  @use
 *   assets/scss/main.scss 10:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 195 \2502    font-family: map-get($rolex-fonts, mono);\a     \2502                         ^^^^^^^^^^^^\a     \2575 \a   assets/scss/base/_reset.scss 195:24  @use\a   assets/scss/main.scss 10:1           root stylesheet";
}
